@import "~bootstrap/dist/css/bootstrap.min.css";
#pizzaGenerate {
  text-align: center;
}

.pizzaCard {
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  background: rgb(233, 233, 233);
  border-radius: 40px;
  box-shadow: 3px solid gray;
}

body {
  display: flex;
  margin: 3rem !important;
  justify-content: center;
}

.btn {
  align-self: center;
  max-width: 150px !important;
  border-radius: 50px !important;
}

.tittle {
  width: 300px;
  height: 50px;
  background-color: gray;
  margin: 10px;
  margin-bottom: 3rem;
  align-self: center;
  border-radius: 20px;
  color: rgb(236, 236, 236);
}

h3 {
  margin-bottom: 3.2rem;
}
